<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>INDEX</title>
</head>
<body>

<h3>Index</h3>

<a href="/agregar_vecino">AGREGAR VECINO</a>

<br><br>

<a href="/visita">AGREGAR VISITA</a>

</body>
</html>
