<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>VISITA</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
</head>
<body>

	<h3>Agregar Visita</h3>

	<form method="POST">

		<input type="text" name="ID_VECINO" id="ID_VECINO" placeholder="ID VECINO">

		<br><br>

		<input type="text" name="NOMBRE_ADMIN" id="NOMBRE_ADMIN" placeholder="NOMBRE ADMIN">

		<br><br>

		<input type="text" name="COSTO" id="COSTO" placeholder="COSTO">

		<br><br>

		<input type="text" name="DESCRIPCION" id="DESCRIPCION" placeholder="DESCRIPCION">

		<br><br>

		<input type="submit" >
	</form>

<script>
$('#boton')
.click(function(e){

ID_VECINO = document.getElementById('ID_VECINO').value;
DESCRIPCION = document.getElementById('DESCRIPCION').value;
COSTO = document.getElementById('COSTO').value;
NOMBRE_ADMIN = document.getElementById('NOMBRE_ADMIN').value;

var vecino = '{"id_vecino": '+ID_VECINO+', "descripcion": '+DESCRIPCION+',"costo": '+COSTO+',"nombre_admin": '+NOMBRE_ADMIN+'}';

$.ajax({
	data: vecino,
	url: 'http://localhost:8000/visita',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'post',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (response){
		console.log(response);
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});
});
</script>

</html>

